.app {
  margin-top: 2rem;
}
.container {
  max-width: 960px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  gap: 1rem;
}

.parameter {
  font-weight: bolder;
}

.value-grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 1rem;
}

.pokemon-image {
  max-height: 300px;
}

.pages {
  margin-top: 1rem;
}